.about {
    display: flex;
    background: var(--color-fondo-2);
    margin-top: 32px;
    margin-bottom: 32px;
    padding: 64px 10% 64px 10%;
}

.about__container {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: flex-start;
    width: 66%;
    color: var(--color-de-texto);
}

.about__title {
    font-weight: 700;
    font-size: 32px;
}

.about__paragraph {
    font-weight: 400;
    font-size: 16px;
}

/** Tablet*/
@media (max-width: 768px) {
    .about {
        margin: 0;
        padding: 32px;
    }
    .about__container {
        gap: 16px;
        width: 100%;
    }
    .about__title {
        font-size: 22px;
    }
    .about__paragraph {
        font-size: 14px;
    }
}

/** Mobile*/
@media (max-width: 425px) {
    .about {
        padding: 16px;
    }
}